In [41]:
import pandas as pd

In [37]:
import codecs
from bs4 import BeautifulSoup

In [38]:
f = codecs.open("D_MEGA.HTM", 'r')

soup = BeautifulSoup(f.read(), 'html.parser')

table = soup.find("table")

rows = table.findAll('tr')

concursos = []
datas = []
numeros_1 = []
numeros_2 = []
numeros_3 = []
numeros_4 = []
numeros_5 = []
numeros_6 = []
list_ganhadores_sena = []
list_ganhadores_quina = []
list_ganhadores_quadra = []

for tr in rows:
    cols = tr.findAll('td')
    if len(cols) > 3:
        concurso, data, numero_1, numero_2, numero_3, numero_4, numero_5, numero_6, arrecadacao, ganhadores_sena, \
        cidade, uf, rateio_sena, ganhadores_quina, rateio_quina, ganhadores_quadra, rateio_quadra, acumulado, \
        valor_acomulado, estimativa, acomulado_mega_virada = [c.text for c in cols]
        concursos += [int(concurso)]
        datas += [str(data)]
        numeros_1 += [int(numero_1)]
        numeros_2 += [int(numero_2)]
        numeros_3 += [int(numero_3)]
        numeros_4 += [int(numero_4)]
        numeros_5 += [int(numero_5)]
        numeros_6 += [int(numero_6)]
        list_ganhadores_sena += [int(ganhadores_sena)]
        list_ganhadores_quina += [int(ganhadores_quina)]
        list_ganhadores_quadra += [int(ganhadores_quadra)]

mega_sena = {'concursos': concursos,
             'datas': datas,
             'numeros_1': numeros_1,
             'numeros_2': numeros_2,
             'numeros_3': numeros_3,
             'numeros_4': numeros_4,
             'numeros_5': numeros_5,
             'numeros_6': numeros_6,
             'list_ganhadores_sena': list_ganhadores_sena,
             'list_ganhadores_quina': list_ganhadores_quina,
             'list_ganhadores_quadra': list_ganhadores_quadra}

In [39]:
mega_senas = pd.DataFrame(mega_sena)

In [40]:
print mega_senas

      concursos       datas  list_ganhadores_quadra  list_ganhadores_quina  \
0             1  11/03/1996                    2016                     17
1             2  18/03/1996                    4488                     65
2             3  25/03/1996                    4261                     62
3             4  01/04/1996                    3311                     39
4             5  08/04/1996                    5399                     98
5             6  15/04/1996                    7147                    109
6             7  22/04/1996                    5736                    100
7             8  29/04/1996                    5262                     60
8             9  06/05/1996                    2175                     17
9            10  13/05/1996                   12590                    251
10           11  20/05/1996                    9442                    148
11           12  27/05/1996                    6454                    108
12           13  03/06/1996                    2934                     43
13           14  10/06/1996                    5323                     85
14           15  17/06/1996                    3931                     57
15           16  24/06/1996                    3250                     31
16           17  01/07/1996                    9376                    144
17           18  08/07/1996                    4484                     52
18           19  15/07/1996                    9250                    159
19           20  22/07/1996                    5728                     72
20           21  29/07/1996                    5030                     63
21           22  05/08/1996                    4865                     47
22           23  12/08/1996                    4897                     74
23           24  19/08/1996                   13486                    227
24           25  25/08/1996                    2741                     28
25           26  01/09/1996                    1823                     16
26           27  08/09/1996                    6466                     99
27           28  15/09/1996                    4895                     50
28           29  22/09/1996                    5248                     44
29           30  29/09/1996                    5885                     80
...         ...         ...                     ...                    ...
1865       1866  15/10/2016                    6185                    129
1866       1867  18/10/2016                    6158                     96
1867       1868  20/10/2016                    7846                    181
1868       1869  22/10/2016                    4827                     66
1869       1870  26/10/2016                    7040                     98
1870       1871  29/10/2016                   15560                    275
1871       1872  03/11/2016                    2790                     25
1872       1873  05/11/2016                    3152                     27
1873       1874  08/11/2016                    1933                     16
1874       1875  10/11/2016                    2828                     45
1875       1876  12/11/2016                    2308                     23
1876       1877  16/11/2016                    4306                     90
1877       1878  19/11/2016                    2981                     36
1878       1879  23/11/2016                    4610                    103
1879       1880  26/11/2016                    5045                     65
1880       1881  30/11/2016                    4024                     44
1881       1882  03/12/2016                    3054                     25
1882       1883  07/12/2016                    2896                     30
1883       1884  10/12/2016                    3839                     47
1884       1885  14/12/2016                    6170                     88
1885       1886  17/12/2016                    6962                     72
1886       1887  20/12/2016                    3496                     54
1887       1888  22/12/2016                    7195                    113
1888       1889  24/12/2016                    3138                     49
1889       1890  31/12/2016                  124889                   1665
1890       1891  04/01/2017                    3488                     46
1891       1892  07/01/2017                    2623                     31
1892       1893  11/01/2017                    3162                     44
1893       1894  14/01/2017                    2761                     37
1894       1895  18/01/2017                   10199                    175

      list_ganhadores_sena  numeros_1  numeros_2  numeros_3  numeros_4  \
0                        0         41          5          4         52
1                        1          9         39         37         49
2                        2         36         30         10         11
3                        0          6         59         42         27
4                        0          1         19         46          6
5                        0         19         40          7         13
6                        0         56         38         21         20
7                        0         53         17         38          4
8                        0         55         43         56         54
9                        0         25          4         18         57
10                       1         25         15         58         37
11                       0         20         27         43         16
12                       0         47         32         50         54
13                       0         16          2         27         47
14                       0         60         12         33         52
15                       0         60         58         49         32
16                       1         10         20          6         19
17                       0         37         36         56         27
18                       0          5         25         12         10
19                       0         25         28         30         33
20                       0         49         46          6         53
21                       0          9         38         56          1
22                       0         17         52         51         59
23                       1          1          8         14         28
24                       0         56         50         55         54
25                       0         50         53         57         10
26                       0         44         33         13         51
27                       0         60          6         22          3
28                       1         14         56         58          8
29                       0         38         50          7         29
...                    ...        ...        ...        ...        ...
1865                     0         14         36         60         38
1866                     0          3         43         21         17
1867                     0         25          5         31          1
1868                     0         11         26         24         52
1869                     0         30         40         33         18
1870                     1         17         58         33         52
1871                     0         39         11         56         46
1872                     0         25          5         53         28
1873                     0         43         28         10         37
1874                     1         53         45         47          1
1875                     0          7         18         51         41
1876                     0         35         13         32         16
1877                     0         56         26         40         16
1878                     1         20         58         10         59
1879                     0         19         51         56         16
1880                     1         30         10         53         44
1881                     0         41         35         37         10
1882                     0         28         59         16         47
1883                     0         38          1         32          4
1884                     0         59          7         18         23
1885                     0          7         40         54         15
1886                     0         23         56         41         46
1887                     2         48          1         18         45
1888                     0         30         25         23         44
1889                     6          5         24         51         22
1890                     0         47          1          3         19
1891                     0         50         22          6         37
1892                     0         17         58         45         19
1893                     0         31         35         57         54
1894                     0          3          5          2         34

      numeros_5  numeros_6
0            30         33
1            43         41
2            29         47
3             1          5
4            16          2
5            22         47
6             3          5
7            47         37
8             8         60
9            21         38
10           59         38
11           19          4
12           18         56
13           23         53
14           35         51
15           20         34
16           51         13
17           42         23
18           60         24
19           51         11
20           33         36
21           31         46
22           39         37
23           33         43
24           24         43
25           58         22
26           17         20
27           24         54
28           43          3
29           15         14
...         ...        ...
1865         17         44
1866         22         10
1867         28         23
1868         40         23
1869         20         32
1870         11          3
1871         13         25
1872         41         54
1873         47         44
1874         52         55
1875         44         39
1876         24         23
1877         57         12
1878         57          5
1879          5         37
1880          3         56
1881         19          9
1882         27         60
1883         23         59
1884         32         14
1885          3         45
1886         34         11
1887         17         10
1888         28         16
1889         11         53
1890         23         58
1891         30         17
1892         28         16
1893         21         53
1894         10         15

[1895 rows x 11 columns]